/* components/ListaEstudiantes.css */

.lista-estudiantes {
    margin: 20px;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .cabecera {
    font-weight: bold;
    background-color: #50C878;
    color: #000000;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 8px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .datos-estudiante {
    background-color: #BDBDBD;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  